.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoContainer {
    margin: 4em;
}
.container h2 {
    width: 90%;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2em;
}
.container h2.highlight {
    color: var(--main-color);
    text-decoration: underline;
}

.container a.buyBt {
    margin-top: 2em;
    padding: 25px 25px 25px 25px;
    background-color: var(--main-color);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F1C55500;
    border-radius: 40px;
    width: 15em;
    font-weight: 800;
    font-size: 2em;
}